@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
}

article{
    width: 345px;
    height: 610px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    margin-bottom: 20px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

header img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

p{
    margin: 15px 0px;
    font-size: 14px;
}

.address{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button{
    margin-top: 15px;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
}

a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
